/* Amoled Theme for Open.spotify.com */
/* Made by Kami */

/* Background */
body {
  background-color: #000000 !important;
}

/* Header */
.T1xI1RTSFU7Wu94UuvE6,
.contentSpacing
  [data-testid="track-list"]
  [role="presentation"]:has([role="columnheader"]) {
  background-color: #000000 !important;
  border-bottom-color: #1db954 !important;
}

/* Sidebar */
.sqKERfoKl4KwrtHqcKOd,
.EZFyDnuQnx5hw78phLqP {
  background-color: #000000 !important;
}

/* Active Sidebar Item */
._32xTlwnNDvAqIU7mf7zElD {
  background-color: #282828 !important;
}

/* Playlist Background */
.main-view-container__scroll-node-child
  [data-testid="playlist-page"]
  .contentSpacing
  > :nth-child(2),
.os-content
  .contentSpacing:has(
    [data-testid="action-bar-row"] [data-testid="play-button"]
  ),
.contentSpacing
  [data-testid="track-list"]
  [role="presentation"]:has([role="columnheader"]),
.main-view-container__scroll-node-child
  [data-testid="playlist-page"]
  .contentSpacing:has([data-testid="track-list"]),
.PHgyArRLVFknlaOm31ID {
  background-color: #000000 !important;
}

/* Tracklist Background */
._1a2XWav4blMbde6v2GGSZN {
  background-color: #000000 !important;
}

/* Tracklist Hover */
._3-nQfFkE0jtX9HEDGUn2ol:hover {
  background-color: #282828 !important;
}

/* Active Track */
._1ZqLsTq9jI0m8c9yoBhL6Z {
  background-color: #282828 !important;
}

/* Track Name */
._255fe7eaf9d01d3cb656 {
  color: #ffffff !important;
}

/* Artist Name */
._83fda1a33b3b799eb6d8af4a86a15052-scss {
  color: #b3b3b3 !important;
}

/* Album Name */
._f38201c496b8ed0571d548b5c5a2da12-scss {
  color: #b3b3b3 !important;
}

/* Active Track Indicator */
._9f7a7f3dd2e9d30ae4562a8b263e49e8-scss {
  background-color: #1db954 !important;
}

/* Play Button */
._8a7b701d2b028bc325cc6afcedb939b0-scss {
  color: #1db954 !important;
}

/* Hovered Play Button */
._8a7b701d2b028bc325cc6afcedb939b0-scss:hover {
  color: #ffffff !important;
}

/* Shuffle Button */
._92d986b468e2e51d2412e547a8ba3520-scss {
  color: #b3b3b3 !important;
}

/* Hovered Shuffle Button */
._92d986b468e2e51d2412e547a8ba3520-scss:hover {
  color: #ffffff !important;
}

/* Repeat Button */
._92d986b468e2e51d2412e547a8ba3520-scss[aria-checked="true"] {
  color: #1db954 !important;
}

/* Hovered Repeat Button */
._92d986b468e2e51d2412e547a8ba3520-scss:hover {
  color: #ffffff !important;
}

/* Volume Slider */
._2Ei8NL7Y2wZCVK2x2Rez-3 {
  background-color: #282828 !important;
}

/* Progress Bar */
._5b61f3b3f6990c73cbdf4d5186b4b04f-scss {
  background-color: #1db954 !important;
}

/* Volume Icon */
._5a0b402558c007da4c8271a3e63e90e7-scss {
  color: #b3b3b3 !important;
}

/* Volume Icon Hover */
._5a0b402558c007da4c8271a3e63e90e7-scss:hover {
  color: #ffffff !important;
}

/* Fullscreen Button */
._2q6R-7K0m9E7FdsAU8HHqX-scope {
  color: #b3b3b3 !important;
}

/* Hovered Fullscreen Button */
._2q6R-7K0m9E7FdsAU8HHqX-scope:hover {
  color: #ffffff !important;
}

/* Device Button */
._4ad8e6dfb6d8c8f2d3300ee1b0ed17ff-scss {
  color: #b3b3b3 !important;
}

/* Hovered Device Button */
._4ad8e6dfb6d8c8f2d3300ee1b0ed17ff-scss:hover {
  color: #ffffff !important;
}

/* Theme Toggle */
._2q6R-7K0m9E7FdsAU8HHqX-scope._3f8vb4YqvlROX3Og6Py9rt-scope {
  background-color: #ffffff !important;
}

/* Theme Toggle Icon */
._2q6R-7K0m9E7FdsAU8HHqX-scope ._3J0kI6NTY4WfVAFbO9fy5T-scope {
  background-color: #282828 !important;
}

/* Toggle Bar */
._2q6R-7K0m9E7FdsAU8HHqX-scope ._3hdcQU_vE2-QeFjMEUcnjQ-scope {
  background-color: #b3b3b3 !important;
}

/* Toggle Switch */
._2q6R-7K0m9E7FdsAU8HHqX-scope ._2V0C1IsE1wVjn5AT40j_y6-scope {
  background-color: #1db954 !important;
}

/* Active Toggle Switch */
._2q6R-7K0m9E7FdsAU8HHqX-scope._3f8vb4YqvlROX3Og6Py9rt-scope
  ._2V0C1IsE1wVjn5AT40j_y6-scope {
  background-color: #ffffff !important;
}
