body {
    --spice-main: #282a36;
    --spice-sec-player: #44475a;
    --spice-selected-row: #44475a;
    --spice-text: #f8f8f2;
    --spice-subtext: #bd93f9;
    --spice-extratext: #44475a;
    --spice-sidebar: #282a36;
    --spice-player: #282a36;
    --spice-card: #ff5555;
    --spice-sec-card: #44475a;
    --spice-shadow: #000000;
    --spice-button: #f8f8f2;
    --spice-button-active : #50fa7b;
    --spice-button-disabled: #6272a4;
    --spice-button-knob:  #ffb86c;
    --spice-tab-active: #ffb86c;
    --spice-notification: #ffb86c;
    --spice-notification-error: #ff5555;
    --spice-misc: #50fa7b;
}

/* Profile */

figure[data-testid="user-widget-avatar"] {
    border-radius: 50% !important;
}

/* Navbar */

nav[class="Root__nav-bar"] {
    background-color: var(--spice-main) !important;
}

.kYBlAcRblnjQ6kKW4JCy {
    background: none !important; /* Remove the shadow*/
}

a[aria-current="page"]:not(
    a.logo
) { 
    background-color: var(--spice-card) !important; /*Backgound color of the selected menu*/
}

span[as="span"] {
    color: var(--spice-subtext) !important;
}

/* Top bar */

.JBEYL0L5KiIeKcmT3gNp {
    background-color: var(--spice-main) !important;
}

.Root__top-bar {
    background-color: var(--spice-main) !important;
}

.jNSwrrV1feJDbTAzoSUb {
    background-color: transparent !important;
}

.Hn_m1H5t0xMhZa46UHuC {
    background-color: var(--spice-main) !important;
}

/* Main background */

div[class="os-content"] {
    background-color: var(--spice-main) !important;
}

div[class="_7ae3a7b5ef70bce1740ff486c4467d56-scss"]  {
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--spice-main), var(--spice-main)) !important;
}

div[role="presentation"]  {
    background-color: var(--spice-main) !important;
}

section[data-testid="home-page"] {
    background-color: var(--spice-main) !important;
}

._2411182f42f92a221e29c993de036981-scss {
    background-color: var(--spice-main) !important;
}

._3802c04052af0bb5d03956299250789e-scss {
    background-color: var(--spice-main) !important;
}

/* Card */

.YWQ6MaodStrAvAMCg1wx {
    background-color: var(--spice-main) !important; /* Remove card background */
}

/* Playlist */

section[role="presentation"] {
    background-color: var(--spice-main) !important;
}

div[class="_1066d722d4c5fe45076daa358de0a969-scss"]  {
    background-color: var(--spice-main) !important;
}

._2UQIjShn4okBf3lckuD {
    background: none !important;
    background-color: var(--spice-main) !important;
}

.contentSpacing {
    background-color: var(--spice-main) !important;
}

.main-view-container__scroll-node-child {
    background-color: var(--spice-main) !important;
}

._59ed5f1313c7c4b211995d2b6463683f-scss {
    background-color: var(--spice-main) !important;
    background-image: none !important;
}

/* Podcats */

.e4013774de0c6a5d514276a81e510b20-scss {
    background-color: var(--spice-main) !important;
}

.ed41532bcdf759f4cd19be1a8114dd5d-scss {
    background-color: var(--spice-main) !important;
    background-image: none !important;
}

/* Biography */

li._95c63d8d8f105881620bdf062feaf969-scss {
    background-color: var(--spice-main) !important;
}

div.os-viewport {
    background-color: var(--spice-main) !important;
}

/* Player */

.Root__now-playing-bar footer {
    background-color: var(--spice-sec-player) !important;
}

._mSbAWxlXgc2ONtpnuXQ:before, ._mSbAWxlXgc2ONtpnuXQ:after {
    background: none !important;
}

/*Likes */

.a65d8d62fe56eed3e660b937a9be8a93-scss, 
.a65d8d62fe56eed3e660b937a9be8a93-scss:focus, 
.a65d8d62fe56eed3e660b937a9be8a93-scss:hover {
    color: var(--spice-card) !important;
}

/* Images */

img {
    border-radius: 5% !important;
}