:root {
  --radial-pink-transparent: radial-gradient(pink, transparent, lightpink);
  --radial-black-transparent: radial-gradient(black, transparent, black);
  --radial-blue-transparent: radial-gradient(blue, transparent, lightblue);
  --radial-green-transparent: radial-gradient(green, transparent, lightgreen);
  --radial-yellow-transparent: radial-gradient(
    yellow,
    transparent,
    lightyellow
  );
  --radial-purple-transparent: radial-gradient(purple, transparent, lavender);
  --radial-red-transparent: radial-gradient(red, transparent, mistyrose);
  --radial-teal-transparent: radial-gradient(teal, transparent, aquamarine);
  --radial-orange-transparent: radial-gradient(
    orange,
    transparent,
    lightgoldenrodyellow
  );

  --linear-blue-gradient: linear-gradient(to right, #00f, #0cf);
  --linear-green-gradient: linear-gradient(to right, #0a0, #0f0);
  --linear-gradient-cyan-pink: linear-gradient(to right, cyan, pink);
  --linear-gradient-yellow-blue: linear-gradient(to right, yellow, blue);
  --linear-gradient-pink-orange: linear-gradient(45deg, pink, orange);
  --linear-gradient-blue-purple: linear-gradient(120deg, blue, purple);
  --linear-gradient-green-yellow: linear-gradient(60deg, green, yellow);
  --linear-gradient-red-cyan: linear-gradient(30deg, red, cyan);

  --blur-bg: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/grain-42100x1500.png?raw=true");
  --two-blur-bg: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/grain-no-blend912x734.png?raw=true");
  --colored-blur-bg: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/BugReporterBackgroundGradient.png?raw=true");
  --falling-gif: url("https://user-images.githubusercontent.com/103985728/258636474-4d775c93-9e64-4abc-ae9b-335205775016.gif");
  --glitch-gif: url("https://user-images.githubusercontent.com/103985728/258636657-0591d0f5-81c5-4ff3-9772-2ded09176ab9.gif");
  --tir-gif: url("https://user-images.githubusercontent.com/103985728/258636706-f91a09ca-bc97-4048-9d15-d764a0cca894.gif");
}
