div.Tzzq1pG_inwo_oSOdyjb,
div.Z35BWOA10YGn5uc9YgAp,
.GD2gbRtcs5dOjMGAM_Y4,
.Root__now-playing-bar,
div.Z35BWOA10YGn5uc9YgAp,
.h4HgbO_Uu1JYg5UGANeQ {
  border-radius: 15px;
}

/* Colors */
:root {
  --primary-color: #1a81b3;
  --accent-color: #2aaee3;
  --highlight-color: rgb(56, 171, 238);
}

/* Text and Links */
.Z4InHgCs2uhk0MU93y_a div,
.Za_uNH8nTZ0qCuIqbPLZ a {
  color: rgba(26, 26, 26, 0.507) !important;
}

div.os-padding
  > div
  > div
  > div.main-view-container__scroll-node-child
  > main
  > section
  > div
  > div
  > div
  > div:nth-child(1) {
  background-color: #0000 !important;
  top: auto !important;
  box-shadow: none !important;
}

/* Backgrounds */
div.LunqxlFIupJw_Dkx6mNx,
div.Tzzq1pG_inwo_oSOdyjb,
div.Z35BWOA10YGn5uc9YgAp,
div.LunqxlFIupJw_Dkx6mNx:hover,
.tUwyjggD2n5KvEtP5z1B,
.GD2gbRtcs5dOjMGAM_Y4,
.Root__now-playing-bar,
.T1xI1RTSFU7Wu94UuvE6,
.gHImFiUWOg93pvTefeAD,
.NXiYChVp4Oydfxd7rT5r.RMDSGDMFrx8eXHpFphqG,
.E4q8ogfdWtye7YgotBlN,
.CoLO4pdSl8LGWyVZA00t,
.Root__main-view,
.xYgjMpAjE5XT05aRIezb,
.cuLHaM,
div.Z35BWOA10YGn5uc9YgAp,
.h4HgbO_Uu1JYg5UGANeQ,
div.ShMHCGsT93epRGdxJp2w.Ss6hr6HYpN4wjHJ9GHmi {
  background-color: var(--primary-color) !important;
  background: var(--primary-color) !important;
}

.McwcCfBLSuXa5UDU1IMw,
.eCtSle,
body,
.nav.Footer__StyledFooter-sc-xwm5vq-0.joBbFt,
.koyeY6AgGRPmyPITi7yO.qJOhHoRcFhHJpEQ2CwFT,
.qEiVyQ28VnOKb0LeijqL {
  background-color: var(--primary-color) !important;
}

/* Buttons and Links */
.xYgjMpAjE5XT05aRIezb,
.gHImFiUWOg93pvTefeAD,
.NXiYChVp4Oydfxd7rT5r,
.dZ3U5sTGUTdanNamXe1z,
.gHImFiUWOg93pvTefeAD.xYgjMpAjE5XT05aRIezb,
a.Button-sc-me270r-0.iDkUdE.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme,
a.Button-sc-me270r-0.dAVVuA.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme,
button.Fm7C3gdh5Lsc9qSXrQwO.tGKwoPuvNBNK3TzCS5OH.rRF_r7EyCHjZv058JACi,
.CCeu9OfWSwIAJqA49n84,
.KAZD28usA1vPz5GVpm63.RK45o6dbvO1mb0wQtSwq,
.eRYMpa,
.h4HgbO_Uu1JYg5UGANeQ.iSbqnFdjb1SuyJ3uWydl .t_yrXoUO3qGsJS4Y6iXX,
.KAZD28usA1vPz5GVpm63.RK45o6dbvO1mb0wQtSwq:after {
  color: var(--highlight-color) !important;
}

/* Miscellaneous */
.McwcCfBLSuXa5UDU1IMw,
.encore-dark-theme .encore-base-set,
.Root__main-view {
  overflow: visible !important;
}

div.Z35BWOA10YGn5uc9YgAp,
.h4HgbO_Uu1JYg5UGANeQ {
  border-radius: 15px;
}

div.ShMHCGsT93epRGdxJp2w.Ss6hr6HYpN4wjHJ9GHmi {
  padding-bottom: 250px !important;
}

.Vz6yjzttS0YlLcwrkoUR.tP0mccyU1WAa7I9PevC1,
.KVKoQ3u4JpKTvSSFtd6J.OF_3F0SQCsBtL1jSTlTA,
.TywOcKZEqNynWecCiATc,
.control-button-heart[aria-checked="true"] {
  color: var(--highlight-color) !important;
}

/* Cover Art */
.cover-art.shadow.cover-art--with-auto-height {
  background-color: var(--primary-color);
}

.cover-art .cover-art-image {
  border-radius: 25px;
}

/* Dark Theme Overrides */
.encore-dark-theme,
.encore-dark-theme .encore-base-set,
.encore-dark-theme .encore-bright-accent-set,
.encore-dark-theme .encore-bright-accent-set,
.encore-dark-theme .encore-bright-accent-set,
.encore-dark-theme .encore-bright-accent-set {
  --background-base: var(--primary-color) !important;
  --background-highlight: var(--highlight-color) !important;
  --background-press: var(--accent-color) !important;
  --text-bright-accent: #fff !important;
}

/* Tooltips */
.bk509U3ZhZc9YBJAmoPB {
  --generic-tooltip-background-color: #1f84be !important;
}

/* Images */
img.mMx2LUixlnN_Fu45JpFB.rkw8BWQi3miXqtlJhKg0.Yn2Ei5QZn19gria6LjZj,
img.mMx2LUixlnN_Fu45JpFB.CmkY1Ag0tJDfnFXbGgju._EShSNaBK1wUIaZQFJJQ.Yn2Ei5QZn19gria6LjZj {
  border-radius: 5px;
}
