:root {
  --color-scheme: dark;
  --background: #333333;
  --header-color: #212121;
  --dialog-background: #181818;
  --dialog-border: white;
  --text: #c4c4c4;
  --title: #dad8d8;
  --disabled: #520000;
  --black: black;
  --white: white;
  /**/
  --active-tab-color: pink;
  /*- Fun Arc theming -*/
  --sidebar-bg: var(
    --pure-black-color,
    black
  ); /* --arc-background-simple-color */
  --main-bg: var(--arc-palette-hover, purple); /* --arc-palette-hover */

  /*- Text colours -*/
  --font-color: var(--arc-palette-title, pink);
  --font-color-two: var(--arc-palette-focus, pink);
}

[data-theme="light"] {
  --color-scheme: light;
  --background: #e8ccc7; /* Lighter background color */
  --header-color: #2c2f45; /* Darker header color for contrast */
  --dialog-background: #ffffff;
  --dialog-border: #282828;
  --text: #7c7c7c; /* Slightly darker text color for better readability */
  --title: #707070;
  --disabled: #ffcccc; /* Lighter disabled color */
  --black: white;
  --white: black;
  --menu-background: #ffbfcc; /* Lighter menu background */
  --menu-foreground: #ffbfcc; /* Lighter menu foreground */
  --active-tab-color: #ff80ab; /* Lighter active tab color */
}

[data-theme="dark"] {
  --background: #7d8bae; /* Darker background color */
  --header-color: #45496a; /* Lighter header color for contrast */
  --dialog-background: #282828; /* Slightly lighter dialog background */
  --dialog-border: #ffffff; /* Lighter dialog border color */
  --text: #3e2929; /* Slightly darker text color for better readability */
  --title: #dad8d8;
  --disabled: #520000;
  --black: black;
  --white: white;
  --menu-background: #ffbfcc; /* Lighter menu background */
  --menu-foreground: #ffbfcc; /* Lighter menu foreground */
  --active-tab-color: #b580d1; /* Darker active tab color */
}
/* Other color scheme

:root {
  --color-scheme: dark;
  --background: #333;
  --header-color: #222;
  --dialog-background: #1a1a1a;
  --dialog-border: #fff;
  --text: #999;
  --title: #ccc;
  --disabled: #520000;
  --black: #000;
  --white: #fff;
  --active-tab-color: #e91e63; -
  --sidebar-bg: #000;
  --main-bg: #9c27b0;
  --font-color: #e91e63;
  --font-color-two: #ff4081;
}

[data-theme="light"] {
  --color-scheme: light;
  --background: #f3f3f3;
  --header-color: #222;
  --dialog-background: #fff;
  --dialog-border: #282828;
  --text: #666;
  --title: #888;
  --disabled: #ffcccc;
  --black: #000;
  --white: #fff;
  --menu-background: #ffcdd2;
  --menu-foreground: #ff4081;
  --active-tab-color: #e91e63;
}

[data-theme="dark"] {
  --background: #282c35;
  --header-color: #222;
  --dialog-background: #1a1a1a;
  --dialog-border: #fff;
  --text: #888;
  --title: #ccc;
  --disabled: #520000;
  --black: #000;
  --white: #fff;
  --menu-background: #ffcdd2;
  --menu-foreground: #ff4081;
  --active-tab-color: #b580d1;
}

*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
  }
}

.tab-heading.selected {
  background-color: var(--color-scheme);
  background-position: center;
  background-size: cover;
  color: var(--text);
}

.medium-description,
.switch-container,
.optionLabel,
.categoryTableElement {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title);
}

html,
body {
  color-scheme: var(--color-scheme);
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
  background-color: var(--background);
  background-position: center;
  background-size: cover;
  background-image: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/BugReporterBackgroundGradient.png?raw=true");
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position: center;
  user-select: none;
}

#options-container {
  display: flex;
  color: var(--text);
  font: cursive;
}

#menubar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 20%;
  min-width: 200px;
  max-width: 800px;
  user-select: none;
  border-radius: 15px;
  margin: 15px;
  z-index: 10;
  background-color: var(--header-color);
  color: var(--menu-foreground);
}

/*
* Search Bar
*/

/* settingsExtra.css (you can add this in your CSS file) */

#searchBar {
  background: var(--main-bg, pink);
  border: 1px solid var(--border-color, pink);
  border-radius: 15px; /* Updated border-radius */
  color: var(--text-color, black); /* Updated text color */
  padding: 8px 5px; /* Updated padding */
  width: 150px; /* Collapsed width */
  margin: -30px 10px 5px; /* Updated margin */
  position: relative; /* Added position */
  overflow: hidden; /* Added overflow */
}

#searchBar input {
  border: 1px solid var(--border-color, pink) !important;
  margin-left: 5px; /* Moved the text inside the search box right by 5px */
}

/* Animation for "Reset" button */
@keyframes fadeInOutResetButton {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5); /* Added scaling effect */
  }
  50% {
    opacity: 1;
    transform: scale(1); /* Added scaling effect */
  }
}

/* Apply animations */
button#resetButton,
button,
button.resetButton {
  background-color: var(--main-bg, pink);
  border: 1px solid var(--border-color, pink);
  color: var(--text-color, black); /* Updated text color */
  border-radius: 15px; /* Updated border-radius */
  padding: 8px 20px; /* Updated padding */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

#resetButton:hover,
button:hover {
  background-color: var(
    --hover-bg,
    lightpink
  ); /* Updated hover background color */
  color: var(--hover-text-color, black); /* Updated hover text color */
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
/*
* END
*/

#navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tab-heading {
  font-size: 18px;
  height: 55px;
  line-height: 55px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--tab-color);
  color: var(--text);
}

.tab-heading:hover {
  background-color: var(--tab-button-hover);
  color: white;
}

/*
*
* Colour settings for the left nav bar
*
*/
.tab-heading.selected {
  background-color: var(--active-tab-color);
  color: white;
}

.tab-heading:active {
  background-color: var(--active-tab-color);
  color: white;
}

/*
*
* EDIT ABOVE
*
*/

.option-group > div {
  min-height: 50px;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  border-image: linear-gradient(to right, var(--border-color), #00000000 80%) 1;
}

.categoryExtraOptions {
  padding-bottom: 20px;
}

#music_offtopic_autoSkipOnMusicVideos {
  padding-bottom: 0;
}

.optionLabel,
#version {
  font-size: 14px;
  height: 15px;
}

div[data-type="keybind-change"] .optionLabel {
  display: inline-block;
  min-width: 150px;
  margin-right: 20px;
}

input[type="number"] {
  width: 50px;
}

.blocker {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  background-color: #00000080;
}

.low-profile {
  height: 23px;
  line-height: 5px;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.next-line {
  padding: 15px 0 0 0;
}

.bold {
  font-weight: bold;
}

.hiding {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.spacing {
  margin-top: 15px;
}

.indent {
  padding-left: 20px;
}

.categoryTableElement td {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.medium-description {
  font-size: 15px;
}

/*
*
* Options button(s)
*
*/

/*
*
* END
*
*/

#createdBy {
  text-align: center;
  margin: 8px 0 18px 0;
  height: 25px;
}

#createdBy > * {
  font-size: 14px;
}

#title {
  text-align: center;
  vertical-align: middle;
  color: var(--text);
  font-size: 50px;
  /*50px or line below and 40px for one above*/
  padding: 20px 20px;
  text-decoration: none;
}

#title .profilepic {
  height: 60px;
}

.profilepic {
  vertical-align: middle;
}

.profilepiccircle {
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
}

a {
  text-decoration: underline;
  color: inherit;
}

.link {
  padding: 20px;
  height: 80px;
  transition: height 0.2s;
}

.link:hover {
  height: 95px;
  transition: height 0.2s;
}

#contact,
.smalllink {
  font-size: 25px;
  color: var(--text);
  text-align: center;
  padding: 10px;
}

#contact {
  text-decoration: none;
}

p,
li {
  font-size: 20px;
  padding: 10px;
}

.previewImage {
  max-height: 200px;
}

img {
  max-width: 100%;

  text-align: center;
}

svg {
  text-decoration: none;
}

/*
* Switches colour and var control
*/

.option.checkbox label {
  color: var(--text);
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text);
}

.option:not(:first-child) {
  margin-top: 24px;
}

.option input,
.option select {
  position: absolute;
  right: 0;
}

.option.checkbox input {
  width: 40px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text);
  margin-top: var(--margin-top);
}

.option label {
  display: inline-block;
  padding-right: 80px; /* Adjust the padding value as needed */
}

.option.checkbox label::before,
.option.checkbox label::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: background 0.3s, right 0.3s, box-shadow 0.3s;
}

/*
* switch colour control
*/
.option.checkbox label::before {
  height: 20px;
  width: 40px;
  right: 0;
  background: linear-gradient(
    to bottom,
    #f6a6ff,
    #d26ef1
  ); /* Gradient pink background */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.option.checkbox label::after {
  height: 18px;
  width: 18px;
  right: 21px;
  background: linear-gradient(
    to bottom,
    #ffccf2,
    #f7c5eb
  ); /* Gradient purple background */
  border-radius: 50%; /* Circular shape for the toggle knob */
  position: absolute;
  transition: background 0.3s ease-in-out, right 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out; /* Smooth animation */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.option.checkbox label:hover::before {
  background: linear-gradient(
    to bottom,
    #f6a6ff,
    #d26ef1
  ); /* Hover effect gradient */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

.option.checkbox label:hover::after {
  background: linear-gradient(
    to bottom,
    #ffccf2,
    #f7c5eb
  ); /* Hover effect gradient */
  right: 23px; /* Slightly adjust position on hover */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

.option.checkbox input:checked + label::before {
  background: linear-gradient(
    to bottom,
    #dd1193,
    #b60d67
  ); /* Darker pink gradient for the enabled state */
  box-shadow: none; /* Remove shadow on checked state */
}

.option.checkbox input:checked + label::after {
  background: linear-gradient(
    to bottom,
    #e6ccf0,
    #d6b7e6
  ); /* Lighter purple gradient for the enabled state */
  right: 1px;
  box-shadow: none; /* Remove shadow on checked state */
}

/*
* Save button options
*/

#saveButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px; /* Adjust margin as needed */
}

button#save,
#saveButton {
  background: linear-gradient(
    120deg,
    #ff80ab,
    /* Start color (pink) */ #b580d1,
    /* Middle color (purple) */ #e6ccf0,
    /* Middle color (light purple) */ #d6b7e6 /* End color (lighter purple) */
  );

  /* Gradient background with better color */
  border: none;
  border-radius: 20px; /* Rounded corners */
  color: #ffffff;
  font-size: 14px;
  padding: 8px 16px; /* Adjust padding as needed */
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out; /* Smooth animations */
  outline: none; /* Remove default outline */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
}

#saveButton:hover,
button#save:hover {
  background: linear-gradient(
    to right,
    #e6ccf0,
    #d6b7e6
  ); /* Gradient background on hover */
  transform: scale(1.05); /* Enlarge slightly on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
  outline: none; /* Remove default outline on hover */
}

/*
* Back to Spotify
*/

#backToSpotifyButton {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 9999;
}

#backToSpotifyButton a:hover {
  color: var(--disabled);
  text-decoration: underline;
}

#backToSpotifyButton a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Smooth color change on hover */
}

#backToSpotifyButton i {
  margin-right: 5px;
}

/*
* End want a cookie? 🍪
*/

/* IN dev css stuff */
#stylePreviewBox {
  width: 400px;
  height: 400px;
  background-color: lightgray;
  border: 2px solid black;
  margin: 20px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}

#stylePreviewBox img {
  max-width: 100%;
  max-height: 100%;
  /* fit the image */
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}

#stylePreviewBox.active {
  background-color: var(
    --main-bg
  ); /* Change to your desired background color */
  border-color: var(--border-color); /* Change to your desired border color */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*- Question Mark -*/
#questionIcon {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.option {
  position: relative;
}

#explanation {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
  position: absolute;
  opacity: 0;
  transform: translateY(10px); /* Adjusted to start hidden */
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
}

#questionIcon:hover + #explanation,
#explanation:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#questionIcon:hover {
  color: #dd1193; /* Change the color on hover */
  text-decoration: underline; /* Add underline on hover */
}

#questionIcon:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); /* Add focus shadow */
}

/*- Watermark -*/
.watermark {
  position: fixed; /* Use fixed positioning */
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: var(--watermark-color);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.watermark:hover {
  opacity: 0.8;
}

/* Top bar navigation for smaller screens */
@media only screen and (max-height: 735px),
  only screen and (max-width: 1200px) {
  #options-container {
    flex-direction: column;
  }

  #menubar {
    gap: 13px;
    min-width: unset;
    max-width: unset;
    padding: 14px;
  }

  #navigation {
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #options {
    padding: 0 30px;
  }

  #options > div {
    max-width: 90%;
  }

  .option-group > div {
    padding: 9px 24px;
  }

  #backToSpotifyButton a {
    padding: 9px 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0 20px;
  }

  .tab-heading {
    width: unset;
    min-width: unset;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding: 0 12px;
    margin: 0;
  }

  #title {
    width: 100%;
    font-size: 36px;
    padding: 15px;
  }

  #title .profilepic {
    height: 48px;
  }

  #createdBy {
    margin: 12px 0 0 0;
    height: unset;
    width: 100%;
  }

  #createdBy > div {
    display: inline-block;
    margin-right: 8px;
  }

  #donate {
    position: absolute;
    right: 40px;
    margin-top: 12px;
  }

  #version {
    font-size: 12px;
    height: 12px;
    transform: translate(-24px, -6px);
  }

  .sticky #menubar {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 20px;
  }

  .sticky #title,
  .sticky #createdBy {
    display: none;
  }
}

p {
  margin-right: 20px;
}

/* Social icons */
.social-icons {
  max-width: 580px;
  margin: -20px auto 0px;
}

.socialIcons {
  margin: 40px auto 30px;
}

.icon {
  float: left;
  position: relative;
  width: 29%;
  height: 20%;
  margin: 1% 0.5%;
  padding-bottom: 19%;
}

.icon:last-of-type {
  margin-right: 0;
}

.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-out; /* Changed transition duration */
}

.icon a:hover {
  background-color: #222;
  background-size: 100%; /* Changed to 100% for full reveal */
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}

.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}

/* Icon background colors and images */
.icon--colorPicker a {
  background-color: #00aced;
  background-image: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/dropper.png?raw=true");
}

.icon--colorOptions a {
  background-color: #add8e6;
  background-image: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/Assets/color-wheel.png?raw=true");
}

.icon--colorHistory a {
  background-color: rgba(117, 36, 140, 0.803);
  background-image: url("https://github.com/SenpaiHunters/Pictures/blob/main/SpotOn%20Pics/Resources/Assets/paint-roller.png?raw=true");
}

.icon--help a {
  background-color: #4078c0;
  background-image: url("https://user-images.githubusercontent.com/103985728/249746862-6dbe9dc5-c3e7-4f16-a6a9-8ba0d8be7020.png");
}
/*
.icon--github a {
  background-color: #4078c0;
  background-image: url("https://user-images.githubusercontent.com/103985728/249747735-5cfcdc11-aaa7-4b94-8102-b2dc3ffeede8.png");
}
*/
/**/
