:root {
  /* Global CSS variables */
  --height: 300vh;
  --width: 300vw;
  --font: "Akronim-Regular", Arial, sans-serif;
  --title-lh: 1.4rem;
  --artist-lh: 1rem;
  --bg-light: linear-gradient(
    45deg,
    rgb(255, 227, 186) 23%,
    rgb(168, 214, 255) 100%
  );
  --bg-dark: linear-gradient(
    45deg,
    rgb(123, 123, 199) 0%,
    rgb(115, 59, 93) 100%
  );
  --text-light: #ffffff;
  --text-dark: #000000;
  --text-gray: #f710a1;
  --margin-top: 20px;
  --margin: 0;
  --album-art: url(https://user-images.githubusercontent.com/103985728/244696019-762563dd-30d9-4bc6-a46a-37b234c8983c.jpeg);
  --bg-img: url(https://user-images.githubusercontent.com/103985728/244695468-5e39f1d4-e2f4-4f20-a80e-2d8f79f80747.jpg);
}

/* font face */
@font-face {
  font-family: "Akronim-Regular";
  src: url("fonts/Akronim-Regular.ttf") format("truetype");
}

/* background */
body {
  font-family: var(--font);
  margin: var(--margin);
  background: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* behind logo */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-top);
}

.header a {
  margin-right: 10px;
}

.logo {
  height: 48px;
}

#title {
  color: var(--text-dark);
  font-size: 24px;
  line-height: var(--title-lh);
  margin: var(--margin);
}

.h1 {
  color: var(--text-dark);
  font-size: 24px;
  line-height: var(--title-lh);
  margin: var(--margin);
}

/* behind options */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-top);
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  margin-top: var(--margin-top);
}

.option.checkbox {
  font-size: 16px;
  color: var(--text-light);
}

.option.checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.option.coming {
  font-size: 14px;
  color: var(--text-light);
}

/* main inside container background */
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-image: var(--bg-img) !important;
  background-size: cover;
  backdrop-filter: blur(30px) !important;
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.popup-container h1 {
  color: var(--text-dark);
  font-size: 38px;
  line-height: var(--title-lh);
  margin: var(--margin);
  margin-bottom: 20px;
}

/* SpotOn Links box */

.mini-derivatives {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mini-derivatives li {
  margin-bottom: 10px;
  border-radius: 20px;
}

.mini-derivatives a {
  color: var(--text-dark);
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 5px;
  background: var(--bg-dark);
  margin: 5px;
}

.mini-derivatives a:hover {
  background: var(--text-gray);
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background: var(--bg-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
}

/* ↑ - this is for the box hosting SpotOn Links */

.popup-container footer {
  font-size: 14px;
  color: var(--text-light);
  margin-top: var(--margin-top);
}

.report-donate {
  display: block;
  align-items: center;
  margin-top: var(--margin-top);
}

.report-issue {
  font-size: 14px;
  color: var(--text-light);
  margin-right: 10px; /* Adjust the margin as needed */
}

.report-issue a {
  color: var(--text-light);
  text-decoration: none;
}

.report-issue a:hover {
  text-decoration: underline;
  color: var(--text-gray);
}

.donate {
  font-size: 14px;
  color: var(--text-dark);
}

.donate a {
  color: var(--text-light);
  text-decoration: none;
}

.donate a:hover {
  text-decoration: underline;
  color: var(--text-gray);
}

/* New CSS added for settings button */
#settingsButton {
  margin-top: 20px;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--bg-dark);
  color: var(--text-light);
  border: none;
  cursor: pointer;
}

#settingsButton:hover {
  background: var(--text-gray);
}
