:root {
  /*- Progress bar settings -*/
  --progress-bar--background-color: rgba(218, 181, 247, 0.322);
  /* ↑ color for the bottom progress bar */
  --progress-bar-dot-color: red;
  /* that dot when tragging the timer */
  --playback-duration-color: wheat;
  /* the color of the timings (left/right) */
}

/**/
/* Now Playing Bar (NPB)
.playback-bar *,
.w699O0LgQRghXyl3bs9u,
.TywOcKZEqNynWecCiATc,
.p1ULRzPc4bD8eQ4T_wyp,
.nav-ylx .GD2gbRtcs5dOjMGAM_Y4,
.TywOcKZEqNynWecCiATc {
  --is-active-fg-color: pink !important;
  --bg-color: pink !important;
  --fg-color: pink !important;
  /* ${progressBarSettings.pColor}
  --progress-bar-height: 6px !important;
}
.epWhU7hHGktzlO_dop6z {
  background-color: pink !important;
}

/* Progess bar, (inner progress bar) how long has the song gone on for? */
div[data-testid="progress-bar-background"] div div {
  /* background-image: linear-gradient(
    to right,
    rgba(73, 0, 255, 1),
    rgba(96, 0, 255, 1) 20%,
    rgba(119, 0, 255, 1) 40%,
    rgba(141, 23, 232, 1) 60%,
    rgba(141, 23, 232, 0.8) 80%,
    rgba(141, 23, 232, 0.6)
  ) !important; */
  background-color: #181a1b;
  /* ↑ nice little linear gradient - linear-gradient(to right, rgba(73, 0, 255, 1), rgba(96, 0, 255, 1) 20%, rgba(119, 0, 255, 1) 40%, rgba(141, 23, 232, 1) 60%, rgba(141, 23, 232, 0.8) 80%, rgba(141, 23, 232, 0.6)) !important; *.
  border-radius: 20px !important;
  margin: 1px !important;
  /* Increase/decrease margin to make the bar smaller or larger */
}
/* ↑ Backup - [data-testid="player-controls"] [data-testid="playback-progressbar"] [data-testid="progress-bar"] .epWhU7hHGktzlO_dop6z
/* ↓ Backup - [data-testid="now-playing-bar"] [data-testid="player-controls"] [data-testid="playback-progressbar"] .w699O0LgQRghXyl3bs9u
/* Progress bar background
[data-testid="now-playing-bar"]
  [data-testid="player-controls"]
  [data-testid="playback-progressbar"]
  .w699O0LgQRghXyl3bs9u {
  background-color: pink !important;
}
*/
/* Progess bar insinde NPB */
/* Progress bar inside NPB */
/* [data-testid="progress-bar-background"] div div {
  background-image: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff
  ) !important;

  border-radius: 20px !important;
  margin: 1px !important;
  overflow-x: hidden !important;
  /* Increase/decrease margin to make the bar smaller or larger
}*/

/* Progress bar background */
[data-testid="now-playing-bar"]
  [data-testid="player-controls"]
  [data-testid="playback-progressbar"]
  .w699O0LgQRghXyl3bs9u {
  background-color: var(--progress-bar-background-color) !important;
  overflow-x: hidden !important;
}

/* Little mover buddy thingo */
.Vis45PPawTyED7Lt2_LI {
  background-color: var(--progress-bar-dot-color) !important;
  border: 2px solid !important;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: none;
  height: 12px;
  width: 12px;
  z-index: 100;
  overflow-x: hidden !important;
}

/* Now Playing Bar (NPB) */
.playback-bar *,
.w699O0LgQRghXyl3bs9u,
.TywOcKZEqNynWecCiATc,
.p1ULRzPc4bD8eQ4T_wyp,
.nav-ylx .GD2gbRtcs5dOjMGAM_Y4 {
  --is-active-fg-color: #000 !important;
  --progress-bar-height: 8px !important;
  overflow-x: hidden !important;
}

/* Change the color of the elapsed playback time and song duration */
.playback-bar__progress-time-elapsed,
div[data-testid="playback-duration"] {
  color: var(--playback-duration-color) !important;
  overflow-x: hidden !important;
}
/**/

body
  > div:nth-child(28)
  > div
  > div
  > div
  > div.os-padding
  > div
  > div
  > div.ejNsts52hRq0uZcc_NXi
  > div,
body
  > div:nth-child(28)
  > div
  > div
  > div
  > div.os-padding
  > div
  > div
  > div.od_kF1rLZbir8kM_F607
  > ul,
.od_kF1rLZbir8kM_F607,
.ejNsts52hRq0uZcc_NXi {
  background: transparent !important;
}

.gQoa8JTSpjSmYyABcag2.encore-bright-accent-set.T3hkVxXuSbCYOD2GIeQd.n2JI6OkSXCc_qBtEKdIi {
  background: transparent !important;
  margin: -13px !important;
  padding-top: -5px !important;
  padding-bottom: 15px !important;
}

/**/
/*- Hide artist pick on artist page -*/
.uVh80THccLWIzZYwgUaQ {
  display: none !important;
}

/**/
.os-theme-spotify > .os-scrollbar-horizontal > .os-scrollbar-track,
.os-theme-spotify > .os-scrollbar-horizontal > .os-scrollbar-track.active,
.os-theme-spotify > .os-scrollbar-horizontal > .os-scrollbar-track:hover,
.os-theme-spotify > .os-scrollbar-vertical > .os-scrollbar-track,
.os-theme-spotify > .os-scrollbar-vertical > .os-scrollbar-track.active,
.os-theme-spotify > .os-scrollbar-vertical > .os-scrollbar-track:hover {
  background: #09090980;
}

/**/
.kpGMQq1KFz620g_BD_dS,
.GJYW6BbHn3q28_5kkshJ,
.kpGMQq1KFz620g_BD_dS,
.cSfdnZ {
  background-color: rgba(24, 26, 27, 0.6) !important;
  background: rgba(24, 26, 27, 0.6) !important;
  color: white !important;
}

.vnCew8qzJq3cVGlYFXRI {
  filter: invert();
}
