:root {
  --first-letter-size: 1.5em;
  --base-font-size: 12px;
  --highlight-font-size: 15px;
  --base-font-color: #b3b3b3;
}

body,
.SearchInputBox__input,
.inputBox-input,
span.rEN7ncpaUeSGL9z0NGQR {
  font-weight: 400;
}

.TywOcKZEqNynWecCiATc,
.a:hover,
.a:focus,
.control-button--active,
.fFv7yCuLuIO1dAGZHcVf,
.jOKLc29vP0Bz1K0TsDtX,
.kEuUqR,
.Rpvqb,
.uWvwXlS0Da1bWsRX6KOw,
.NoOAOv6U6vtqj_ybS1Cd,
.w699O0LgQRghXyl3bs9u,
.RfidWIoz8FON2WhFoItU,
.Xz3tlahv16UpqKBW5HdK,
.uV8q95GGAb2VDtL3gpYa,
.XwNfIrI6_hCa_9_T2cQB,
.EhyK_jJzB2PcWXd5lg24 {
  font-size: var(--highlight-font-size) !important;
  font-weight: 700 !important;
}

.navBar-group-header,
.navBar-item .type,
.RecentlyPlayedWidget.type,
.RecentlyPlayedWidget__type {
  color: var(--base-font-color) !important;
  font-size: var(--base-font-size) !important;
  text-transform: lowercase !important;
}

.navBar-group-header::first-letter,
.navBar-item .type::first-letter,
.mo-info::first-letter,
*::first-letter,
*:focus::first-letter,
*:hover::first-letter,
.btn::first-letter,
.ResponsiveViewMoreButton__button::first-letter {
  font-size: var(--first-letter-size) !important;
  text-transform: capitalize !important;
  position: relative !important;
}

h1.Text__TextElement-sc-if376j-0.ksSRyh.encore-text-headline-large {
  font-size: 38px !important;
}
