div.os-padding
  > div
  > div
  > div.main-view-container__scroll-node-child
  > main
  > div
  > div:nth-child(2)
  > div
  > div {
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 1px, #000 0px 0px 2px;
  filter: saturate(4);
  --lyrics-color-inactive: var(--lyrics-color-background) !important;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

div.os-padding
  > div
  > div
  > div.main-view-container__scroll-node-child
  > main
  > div
  > div:nth-child(2)
  > div
  > div:hover {
  transform: scale(1.03);
}

.gIkgYW,
.Za_uNH8nTZ0qCuIqbPLZ {
  color: #000000 !important;
  mix-blend-mode: difference;

  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}
