/* Rainbow controls */
[aria-expanded="false"] #device-picker-icon-button [role="presentation"],
.KAZD28usA1vPz5GVpm63,
.doaMwz,
.hkmxYW,
[dir="ltr"] .eSg4ntPU2KQLfpLGXAww > :first-child,
.dlqYDF,
.prGqQr33U0mG14TJ5V8a.BhKGkKPprp2wm9bvfRKG,
.prGqQr33U0mG14TJ5V8a,
.jqMzOG:hover .ButtonInner-sc-14ud5tc-0,
.fipMme,
.kGFDdV,
.SPC4uzYXJmknkCGKpxHw,
.No0A0v6U6vtqj_ybS1Cd,
.Fyc_tPyPKyRIT_59VZ2B,
.hwP4Oum2PB765sb8jigI,
.HVCCFeUiHVwZVv74p34a,
.H6jh9Xd7DNOq3NsLDmCB,
.KIbfbFDao0SHpZsKoKZD,
.PrhIVExjBkmjHt6Ea4XE,
.bkFQH4uasL3pXqN9eDSi,
.hYdsxw,
.control-button--active,
.jyHIqB,
.TJ5Bjp6vgnWVbh6mGN0n,
.Btg2qHSuepFGBG6X0yE,
.jOKLc29vP0Bz1K0TsDtX,
.NoOAOv6U6vtqj_ybS1Cd,
.rRF_r7EyCHjZv058JACi,
.collection-active-icon,
.collection-icon,
.home-active-icon,
.home-icon,
.make-music-active-icon,
.make-music-icon,
.premiumSpotifyIcon,
.search-active-icon,
.search-icon,
.TywOcKZEqNynWecCiATc,
.control-button,
.control-button--active,
.INitzTSjokOMEJOc6P2H,
.jOKLc29vP0Bz1K0TsDtX,
.uWvwXlS0Da1bWsRX6KOw,
.cWIysU,
.NdVm10_yLWkkgq87jOMk,
.CCeu9OfWSwIAJqA49n84,
.jEDcnm,
.T0anrkk_QA4IAQL29get,
.connect-device-list-container,
.control-button-heart,
.encore-dark-theme .encore-bright-accent-set,
.eSg4ntPU2KQLfpLGXAww,
.dpREpp,
.CmkY1Ag0tJDfnFXbGgju,
.wC9sIed7pfp47wZbmU6m,
.eJHlti,
.Nd_DeCpszONzyaLe5Wd1,
[dir="ltr"] .eSg4ntPU2KQLfpLGXAww > :not(:last-child) *,
.jfwwWS,
.jaXpQg,
.KAZD28usA1vPz5GVpm63.RK45o6dbvO1mb0wQtSwq:after,
.jVIpUU,
button.icon-button,
footer .mwpJrmCgLlVkJVtWjlI1,
.mwpJrmCgLlVkJVtWjlI1,
.Type__TypeElement-sc-goli3j-0.jMixSL,
svg.Svg-sc-ytk21e-0.iBOuoW.VX33mI2V_jRA7hRBI9_0 {
  animation: rainbow-text 30s infinite linear;
  background-color: transparent;
  cursor: auto;
}

#main
  > div.Root.encore-dark-theme
  > div.ZQftYELq0aOsg6tPbVbV
  > div.JG5J9NWJkaUO9fiKECMA
  > footer
  > div.gQoa8JTSpjSmYyABcag2.encore-bright-accent-set.T3hkVxXuSbCYOD2GIeQd.n2JI6OkSXCc_qBtEKdIi
  > svg
  > path:nth-child(2) {
  animation: rainbow-text 10s infinite linear;
}

.TywOcKZEqNynWecCiATc,
.h4HgbO_Uu1JYg5UGANeQ.iSbqnFdjb1SuyJ3uWydl:hover .VpYFchIiPg3tPhBGyynT,
.Btg2qHSuepFGBG6X0yE,
.h4HgbO_Uu1JYg5UGANeQ.iSbqnFdjb1SuyJ3uWydl:hover .t_yrXoUO3qGsJS4Y6iXX,
.Box__BoxComponent-sc-y4nds-0.dYIdBk.Box-sc-8t9c76-0.cLAfSn.ojrThQm1wxR2gZ6GntJB:hover,
a:hover,
a:focus,
.OCY4jHBlCVZEyGvtSv0J,
.GD2gbRtcs5dOjMGAM_Y4,
.KVKoQ3u4JpKTvSSFtd6J.OF_3F0SQCsBtL1jSTlTA,
.Vz6yjzttS0YlLcwrkoUR.tP0mccyU1WAa7I9PevC1,
.control-button--active,
.fFv7yCuLuIO1dAGZHcVf,
.jOKLc29vP0Bz1K0TsDtX,
.kEuUqR,
.Rpvqb,
.uWvwXlS0Da1bWsRX6KOw,
.NoOAOv6U6vtqj_ybS1Cd,
.w699O0LgQRghXyl3bs9u,
.RfidWIoz8FON2WhFoItU,
.Xz3tlahv16UpqKBW5HdK,
.uV8q95GGAb2VDtL3gpYa,
svg.Svg-sc-ytk21e-0.iBOuoW.VX33mI2V_jRA7hRBI9_0,
.XwNfIrI6_hCa_9_T2cQB,
.EhyK_jJzB2PcWXd5lg24 {
  animation: rainbow-text 30s infinite linear;
  font-weight: bold;
}

@keyframes rainbow-text {
  0%,
  100% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
}
