.ZQftYELq0aOsg6tPbVbV {
  grid-template-areas:
    "right-sidebar main-view left-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar" !important;
}

/* Temp fix */
.wp7mZFPzV7Qmo51F0NA_ {
  position: fixed !important;
  top: 0 !important;
  width: 99% !important;
  z-index: 1000 !important;
  padding-top: 10px;
}

div#Desktop_LeftSidebar_Id,
.OTfMDdomT5S7B5dbYTT8 {
  margin-top: 50px !important;
}

.JG5J9NWJkaUO9fiKECMA {
  margin-bottom: -5px !important;
}