@import url("https://github.com/SenpaiHunters/Pictures/raw/main/SpotOn%20Pics/fonts/JetBrainsMonoNL-Thin.ttf");

:root {
  --color-scheme: dark;
  --background: #222222;
  --header-color: #121212;
  --dialog-background: #0e0e0e;
  --dialog-border: #ffffff;
  --text: #c4c4c4;
  --title: #dad8d8;
  --disabled: #520000;
  --black: #000000;
  --white: #ffffff;
}

[data-theme="light"] {
  --color-scheme: light;
  --background: #ffffff;
  --header-color: #f0f0f0;
  --dialog-background: #f5f5f5;
  --dialog-border: #dddddd;
  --text: #333333;
  --title: #666666;
  --disabled: #ff7f7f;
  --black: #000000;
  --white: #ffffff;
  --button-bg: #f0f0f0;
  --button-hover: #e0e0e0;
  --button-color: #333333;
}

[data-theme="dark"] {
  --background: #222222;
  --header-color: #212121;
  --dialog-background: #181818;
  --dialog-border: #ffffff;
  --text: #c4c4c4;
  --title: #dad8d8;
  --disabled: #520000;
  --black: #000000;
  --white: #ffffff;
  --button-bg: #333333;
  --button-hover: #444444;
  --button-color: #c4c4c4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
  }
}

html,
body {
  background: var(--background);
  font-family: "JetBrains Mono", monospace;
}

/*- Theme button -*/
#theme-toggle {
  margin: 10px;
}

/* Toggle button styles - major overhaul */
.toggle-settings-bar {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--button-bg);
  padding: 10px;
}

.toggle-settings-bar .button,
.toggle-settings-bar .button.is-toggle {
  display: flex;
  flex-direction: column; /* To place icons above text */
  align-items: center;
  justify-content: center;
  padding: 28px 25px;
  background-color: var(--button-bg);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 16px;
  position: relative;
  flex: 1;
  color: var(--button-color);
}

.toggle-settings-bar .button.is-toggle {
  padding: 28px 25px;
  background-color: var(--button-bg);
  color: var(--button-color);
}

.toggle-settings-bar .button.is-toggle:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--button-hover);
  transform: scale(1.05);
}

button#settingsButton.button:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--button-hover);
  transform: scale(1.05);
}

.toggle-settings-bar .button:not(:hover) {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.toggle-settings-bar-item {
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  border: none;
  flex: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  color: var(--button-color);
}

.toggle-settings-bar-item:hover {
  background-color: #e0e0e0;
}

.toggle-settings-bar-itemIcon {
  margin-bottom: 6px;
}

button#colorPageButton.button,
button#reportIssueButton.button,
button#colorPageButton {
  flex-direction: column;
  align-items: center;
  color: var(--button-color);
  justify-content: center;
  padding: 28px 25px;
  background-color: var(--button-bg);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
  font-size: 16px;
  position: relative;
  flex: 1;
}

button#colorPageButton.button,
button#reportIssueButton.button,
button#colorPageButton {
  padding: 28px 25px;
  background-color: var(--button-bg);
  color: var(--button-color);
}

button#colorPageButton:hover,
button#reportIssueButton:hover,
button#colorPageButton:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--button-hover);
  transform: scale(1.05);
}

button#colorPageButton:hover,
button#reportIssueButton:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--button-hover);
  transform: scale(1.05);
}

button#save.button {
  display: flex;
  flex-direction: column; /* To place icons above text */
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  background-color: var(--button-bg);
  color: var(--button-color);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
  font-size: 16px;
  position: relative;
  flex: 1;
}

/* save */
button#save.button {
  padding: 30px 30px;
  background-color: var(--button-bg);
  color: var(--button-color);
}
#save:hover {
  border-radius: 20px;
  background-color: var(--button-hover);
  transform: scale(1.05);
}

#saveButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Add margin to create space between buttons */
}
button#save:hover {
  background-color: var(--button-hover);
}

#status {
  margin-right: 10px;
  color: var(--text);
}

.button.is-success.is-hovered,
.button.is-success:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--disabled);
  border-radius: 25px;
  transform: translateY(-2px);
}
/*
* END
*/

/* Section box */
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
  display: flex;
  justify-content: center;
}

.section {
  padding: 40px 30px !important;
  height: 110px;
}

.select select:not([multiple]) {
  background: var(--button-bg);
  color: var(--text);
  transform: scale(1.05);
  border-radius: 10px;
  border: black;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #e1af3b;
  transition: border-color 0.3s ease-in-out; /* Transition for border color change */
}

/* Hover Style */
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #e3ad31; /* New border color on hover */
}

select#themeSelector {
  transform: scale(1.05);
  border-radius: 25px;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

/**/
.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: var(--background);
  color: var(--text);
  padding: 20px;
  font-family: "JetBrains", monospace;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 8px;
  width: 100px;
}

.header h1 {
  font-size: 40px;
}

.subtitle.is-4 {
  color: var(--text);
  font-size: 1.5em;
  text-align: center;
  margin: 0px auto 12px;
  margin-top: -30px;
}

/*
* Icons at the footer
*/

/* Root element for theme transitions */
[data-theme],
* {
  transition: opacity 0.7s ease-in-out, background-color 0.7s ease-in; /* Adjusted transition duration and timing function */
  opacity: 1; /* Initially fully opaque */
}

/* Apply opacity 0 during theme transition */
[data-theme="light"].theme-transition,
[data-theme="dark"].theme-transition {
  opacity: 0;
}

/* Improved toggle button styles with animations and theme transition */
.toggle-settings-bar .button,
.toggle-settings-bar .button.is-toggle,
select#themeSelector {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    opacity 0.5s ease-in-out; /* Added opacity transition */
}

/* Apply opacity 0 during theme transition */
[data-theme="light"].theme-transition .toggle-settings-bar .button,
[data-theme="dark"].theme-transition .toggle-settings-bar .button,
[data-theme="light"].theme-transition .toggle-settings-bar .button.is-toggle,
[data-theme="dark"].theme-transition .toggle-settings-bar .button.is-toggle {
  opacity: 0;
}

/* Improved toggle settings bar styles with animations and theme transition */
.toggle-settings-bar-item {
  transition: background-color 0.2s ease-in-out, opacity 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out; /* Added opacity transition */
}

/* Apply opacity 0 during theme transition */
[data-theme="light"].theme-transition .toggle-settings-bar-item,
[data-theme="dark"].theme-transition .toggle-settings-bar-item {
  opacity: 0;
}

/* Apply opacity 1 and reset transform after theme transition */
[data-theme="light"].theme-transition .social-icons,
[data-theme="dark"].theme-transition .social-icons {
  opacity: 1;
  transform: translateY(0);
}
