.q8AZzDc_1BumBHZg0tZb,
.fAJsTt,
.Z35BWOA10YGn5uc9YgAp .Tzzq1pG_inwo_oSOdyjb,
.Z35BWOA10YGn5uc9YgAp .Tzzq1pG_inwo_oSOdyjb .TbrIq3NG2VYFoAUMSmp9 {
  text-shadow: #000 1px 1px 1px, #000 1px 1px 1px !important;
}

.LunqxlFIupJw_Dkx6mNx .tsv7E_RBBw6v0XTQlcRo {
  background: var(--hovercolor) !important;
  border-radius: 10px;
  transition: border-radius 0.3s ease;
}

.LunqxlFIupJw_Dkx6mNx .tsv7E_RBBw6v0XTQlcRo:hover,
.LunqxlFIupJw_Dkx6mNx:hover,
.Z35BWOA10YGn5uc9YgAp .jb9xD5ECTqKFK02qe3HZ:hover {
  border-radius: 15px;
}

.Z35BWOA10YGn5uc9YgAp .jb9xD5ECTqKFK02qe3HZ {
  background: var(--hovercolor) !important;
  border-radius: 10px;
}
